<div id="getting-started"></div>
<script type="text/javascript">
    require([
        'jquery',
        'MageMastery_FirstModule/js/jquery.countdown.min'
    ], function($, countdown) {
        $(function () {
            $("#getting-started")
                .countdown("2020/10/10", function (event) {
                    $(this).html(
                        event.strftime(''
                            + '<div class="timer"><div class="timer-label">%D </div><div class="timer-text">days</div></div> '
                            + '<div class="timer"><div class="timer-label">%H </div><div class="timer-text">hr</div></div> '
                            + '<div class="timer"><div class="timer-label">%M </div><div class="timer-text">min</div></div> '
                            + '<div class="timer"><div class="timer-label">%S </div><div class="timer-text">sec</div></div> ')
                    );
                });
        })
    });
</script>
<style>
    .timer {
        width: 80px;
        margin-right: 15px;
        margin-bottom: 20px;
        background-color: blue;
        height: 80px;
        float: left;
    }

    .timer-label{
        padding: 5px 9px;
        font-size: 20px;
        color: #0a0a0a;
        background-color: white;
        margin: 7px 14px;
        font-weight: 700;
        border-radius: 2px;
        text-align: center;
    }

    .timer-text {
        width: 52px;
        height: 15px;
        font-size: 14px;
        color: white;
        font-weight: 700;
        margin: 0 auto;
        text-transform: capitalize;
        text-align: center;
    }
</style>
